:root {
  --dwp-navigator-trigger-display: inline-block;
  --dwp-navigator-trigger-background: url('https://testing571.github.io/test-website/Robot.gif') no-repeat center center / contain;
  --dwp-navigator-trigger-border: #f1f1f4;
  --dwp-navigator-trigger-border-radius: 50% 50% 50% 3px;
  --dwp-navigator-trigger-color: white;
  --dwp-navigator-trigger-z-index: 2000;
  --dwp-navigator-trigger-initial-top: auto;
  --dwp-navigator-trigger-initial-bottom: 2.5dvh;
  --dwp-navigator-trigger-initial-start: auto;
  --dwp-navigator-trigger-initial-end: 5dvh;
  --dwp-navigator-trigger-width: 3.5rem;
  --dwp-navigator-trigger-height: 3.5rem;
  --dwp-navigator-trigger-transform: scale(1);
  --dwp-navigator-trigger-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 8px 24px 8px rgba(0, 0, 0, 0.0901960784);
  --dwp-navigator-trigger-transition: transform 0.15s cubic-bezier(.25, .8, .25, 1);
  --dwp-navigator-trigger-transform-hover: scale(1.05);
  --dwp-navigator-trigger-box-shadow-hover: 0 3px 12px rgba(0, 0, 0, 0.231372549), 0 12px 36px 12px rgba(0, 0, 0, 0.1215686275);
  --dwp-navigator-trigger-outline-color: #32a852;

  --dwp-navigator-iframe-z-index: 2000;
  --dwp-navigator-iframe-initial-top: auto;
  --dwp-navigator-iframe-initial-bottom: 5dvh;
  --dwp-navigator-iframe-initial-start: auto;
  --dwp-navigator-iframe-initial-end: 5dvh;
  --dwp-navigator-iframe-width: 25dvw;
  --dwp-navigator-iframe-height: 90dvh;
  --dwp-navigator-iframe-min-width: 500px;
  --dwp-navigator-iframe-border-radius: 3px;
  --dwp-navigator-iframe-background: white;
  --dwp-navigator-iframe-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), 0 8px 24px 8px rgba(0, 0, 0, 0.0901960784);
  --dwp-navigator-iframe-transition: opacity 0.3s ease-in-out;

  --dwp-navigator-title-background: #32a852;
  --dwp-navigator-title-min-height: 3.25rem;
  --dwp-navigator-title-padding: 0.25rem;
  --dwp-navigator-title-font-size: 1.125rem;
  --dwp-navigator-title-font-weight: 600;
  --dwp-navigator-title-font-color: #22242a;
  --dwp-navigator-title-button-width: 2.5rem;
  --dwp-navigator-title-button-height: 2.5rem;
  --dwp-navigator-title-button-border: none;
  --dwp-navigator-title-button-background: none;
  --dwp-navigator-title-button-color: #22242a;
  --dwp-navigator-title-button-border-hover: none;
  --dwp-navigator-title-button-background-hover: #32a852;
  --dwp-navigator-title-button-color-hover: #22242a;
  --dwp-navigator-title-button-outline-color: #32a852;

}


